*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.hero__section{
    background: url(images/heroSectionBackground.png);
    min-height: 60vh;
    background-size: cover;
    background-position: center;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 16px 40px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar__menu_container{
    display: flex;
    gap: 20px;
}

.user__icon{
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}


@media only screen and (max-width: 550px){
    .user__icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80vh;
    }
}